---
layout: homepage
---
{% include header.html %}

<div id="main-wrapper">
    <div id="main-inner">

        <!--<div class="heading-wrapper">-->
            <!--<div class="picture-wrapper">-->
                <!--<a class="image-credit" href="">Picture credit</a>-->
            <!--</div>-->
        <!--header here-->
        <!--</div>-->


        <!--<div class="heading-wrapper">-->
        <div class="picture-wrapper"></div>
        <a class="image-credit" href="/homepage-photos/">Photo by Josh Keogh. All rights reserved.</a>
        <!--</div>-->

        <!--<div class="homepage-toc">-->

        <!--</div>-->

        <main>



            <div class="articleListing">
                <!--<p class="type"><a href="/news/">Latest News</a></p>-->
                {% for post in site.posts limit:1 %}
                <section class="post">
                    <p class="type"><a href="/news/">Latest News</a>{% if post.type %}: {{ post.type }}{% endif %}</p>
                    <h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h1>
                    <p class="date">{{ post.date | date: "%b %-d, %Y" }}</p>
                    <p class="post-excerpt">{{ post.excerpt | remove_images | strip_html }}</p>
                    <a href="{{ BASE_PATH }}{{ post.url }}" class="read-more">Read More</a>
                </section>
                {% endfor %}
                <p style="font-size:1em;margin-top: 1.5em;"><a href="/news/" class="read-more">Browse all News & Updates</a></p>

            </div>



        </main>
    </div>
</div>


