<footer role="contentinfo">
  <nav>
    <a href="/" class="footer-disclaimers">
      <span>Unless otherwise indicated</span>
    </a>
    <address class="github">
      <a id="footer-feedback-link" class="feedback" href="//github.com/Judopedia/judopedia-website/issues"><span
            class="text">Feedback</span></a><a
            id="footer-repo-homepage-link" class="repo-homepage" href="//github.com/Judopedia/judopedia-website"></a><a
            id="footer-contribute-link" class="contribute" href="//github.com/Judopedia/judopedia-website"><span
            class="text">Contribute</span></a>
    </address>
  </nav>
</footer>
