@mixin font-face($font-family-name, $folder, $file-name, $weight: 'normal') {
  @font-face {
    $path: $fontDirectory + '/' + $folder + '/' + $file-name;
    font-family: $font-family-name;
    src: url($path + '.eot'); // IE9 Compat Modes
    src: url($path + '.eot?#iefix') format('embedded-opentype'), // IE6-IE8
    url($path + '.woff2') format('woff2'), // Modern Browsers
    url($path + '.woff') format('woff'), // Modern Browsers
    url($path + '.ttf') format('truetype'); // Safari, Android, iOS
    font-style: normal;
    font-weight: unquote(inspect($weight));
    text-rendering: optimizeLegibility;
  }
}
